@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  font-size: 14px;
}

body,
.p-component {
  font-family: "Work Sans", Arial, sans-serif;
}

/* Hide default scrollbar */
body,
.p-datatable-wrapper,
.p-dropdown-items-wrapper,
.p-multiselect-items-wrapper,
.scrollbar-wrapper {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Custom scrollbar for WebKit */
body::-webkit-scrollbar,
.scrollbar-wrapper::-webkit-scrollbar,
.p-dropdown-items-wrapper::-webkit-scrollbar,
.p-multiselect-items-wrapper::-webkit-scrollbar,
.p-datatable-wrapper::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track,
.scrollbar-wrapper::-webkit-scrollbar-track,
.p-dropdown-items-wrapper::-webkit-scrollbar-track,
.p-multiselect-items-wrapper::-webkit-scrollbar-track,
.p-datatable-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb,
.scrollbar-wrapper::-webkit-scrollbar-thumb,
.p-dropdown-items-wrapper::-webkit-scrollbar-thumb,
.p-multiselect-items-wrapper::-webkit-scrollbar-thumb,
.p-datatable-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}
body::-webkit-scrollbar-thumb.horizontal,
.scrollbar-wrapper::-webkit-scrollbar-thumb.horizontal,
.p-dropdown-items-wrapper::-webkit-scrollbar-thumb.horizontal,
.p-multiselect-items-wrapper::-webkit-scrollbar-thumb.horizontal,
.p-datatable-wrapper::-webkit-scrollbar-thumb.horizontal {
  border-width: 3px;
  border-top-width: 0;
  border-bottom-width: 0;
}

/* Change color on hover */
body::-webkit-scrollbar-thumb:hover,
.scrollbar-wrapper::-webkit-scrollbar-thumb:hover,
.p-dropdown-items-wrapper::-webkit-scrollbar-thumb:hover,
.p-multiselect-items-wrapper::-webkit-scrollbar-thumb:hover,
.p-datatable-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* To avoid multiselect go to whole page width and beyond if all options are selected, we set width of parent to 20rem */
#multiselect-column-filter .p-column-filter-row p-columnfilterformelement {
  max-width: 20rem;
}

/* Table styles */
p-table {
  display: block;
  padding: 5px;
  box-shadow: 0 0 0.3rem 0 rgb(171, 196, 238);
}

/* Paginator styles */
p-paginator .p-paginator {
  justify-content: end;
}
p-paginator .p-paginator button.p-link,
p-paginator .p-paginator .p-paginator-rpp-options {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
p-paginator .p-paginator button.p-link.p-ripple.p-element:hover,
p-paginator .p-paginator .p-paginator-rpp-options.p-ripple.p-element:hover {
  color: var(--primary-color) !important;
}
p-paginator .p-paginator .p-paginator-pages .p-paginator-page {
  color: var(--primary-color);
}
p-paginator .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: var(--primary-color);
  color: #fff;
}
p-paginator .p-paginator .p-paginator-pages .p-paginator-page.p-element:hover {
  color: var(--primary-color);
}
p-paginator .p-paginator .p-paginator-current {
  color: var(--primary-color);
}
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-label,
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-trigger,
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-item {
  color: var(--primary-color);
}
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-label.p-ripple.p-element:hover,
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-trigger.p-ripple.p-element:hover,
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-item.p-ripple.p-element:hover {
  color: var(--primary-color);
}
p-paginator .p-paginator .p-paginator-rpp-options .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: var(--primary-color);
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
