<lib-base-table
  tableId="t-master-account-purpose"
  size="small"
  [rowsPerPage]="8"
  [customSort]="false"
  [customSortFn]="customSortFn"
  dataKey="uuid"
  [selectionMode]="'multiple'"
  (onTableRowSelect)="onRowSelect($event)"
  (onTableRowUnselect)="onRowUnselect($event)"
  [(selectedItems)]="selectedAccountPurposes"
  [rowExpand]="true"
  [rowExpansionTemplate]="rowExpansionTemplate"
  [scrollHeight]="370"
  [exportTypes]="['pdf', 'csv', 'excel']"
  [selectionPageOnly]="true"
  [modifyConfigFn]="modifyConfigFn"
  [transformDataFn]="transformDataFn"
  exportFileName="account-purposes"
  [globalSearch]="true"
>
  <!--  <ng-container ngProjectAs="caption">Nice Toolbar</ng-container>-->
  <ng-container ngProjectAs="summary">
    <div class="flex align-items-center justify-content-between">
      Custom summary
    </div>
  </ng-container>
</lib-base-table>

<ng-template #rowExpansionTemplate let-item>
  <tr>
    <td colspan="8">
      <div class="p-3">
        <p-table [value]="item.subProducts" dataKey="code">
          <ng-template pTemplate="header">
            <tr>
              <th width="50%">Code</th>
              <th width="50%">Sub category</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subProduct>
            <tr>
              <td>{{ subProduct.code }}</td>
              <td>{{ subProduct.category }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="2" style="text-align: center">
                There are no sub-products.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </td>
  </tr>
</ng-template>

{{ selectedAccountPurposes | json }}
