<lib-base-table
  size="small"
  [rowSize]="5"
  [customSort]="true"
  [customSortFn]="customSortFn"
  dataKey="code"
  [selectionMode]="'multiple'"
  [globalFilterFields]="['code', 'category']"
  [(selectedItems)]="selectedItems"
  (onTableRowSelect)="onRowSelect($event)"
  (onTableRowUnselect)="onRowUnselect($event)"
  [items]="items"
>
  <!--  <ng-container ngProjectAs="caption">Nice</ng-container>-->
  <ng-container ngProjectAs="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are many products.
    </div>
  </ng-container>
</lib-base-table>

{{ selectedItems | json }}
