<lib-base-table
  size="small"
  [rowSize]="8"
  [customSort]="true"
  [customSortFn]="customSortFn"
  dataKey="code"
  [selectionMode]="'multiple'"
  [globalFilterFields]="['code', 'category']"
  [(selectedItems)]="selectedItems"
  (onTableRowSelect)="onRowSelect($event)"
  (onTableRowUnselect)="onRowUnselect($event)"
  [items]="items"
  [rowExpand]="true"
  [rowExpansionTemplate]="rowExpansionTemplate"
  [scrollHeight]="500"
>
  <!--  <ng-container ngProjectAs="caption">Nice</ng-container>-->
  <ng-container ngProjectAs="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are many products.
    </div>
  </ng-container>
</lib-base-table>

<ng-template #rowExpansionTemplate let-item>
  <tr>
    <td colspan="7">
      <div class="p-3">
        <p-table [value]="item.subProducts" dataKey="code">
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Sub category</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subProduct>
            <tr>
              <td>{{ subProduct.code }}</td>
              <td>{{ subProduct.category }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" style="text-align: center">
                There are no sub-products.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </td>
  </tr>
</ng-template>

{{ selectedItems | json }}
